
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.txt{
  color: #FAD655;
  font-weight: 600;
  padding-bottom: 20px;
}


/* Transition textfield */

input{
  border: none !important;
}

input:hover{
  border-width: 0 0 2px !important;
  border-color: #FAD655 !important;
  transition-delay: 0.2s;
}